@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

html {
    height: 100%;
}

body {
    background: linear-gradient(269deg, #F00 -36.84%, #411CD6 116.65%);
    font-family: 'Jura', sans-serif;
    animation: slideDown 1.3s;
    margin: 4%;
    padding: 0;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 2vw; /* Adjust font size for smaller screens */
    }

    .navitem {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 1.5vw;
    }
    .body {
        margin-top: 2%;
    }
    .navitem {
        font-size: 1.5vw;
    }
}

.navitem:hover {
    opacity: .5;
    transition: .5s;
}

@keyframes slideDown {
    from {
        transform: translateY(0px);
        opacity: 0;
    }



    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#accueil {
    margin-right: 5%;
}

img:hover {
    opacity: .5;
    transition: .9s;
}

h1  {
    margin-top: 2.5%;
    font-family: Jura, serif;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    color: white;
    }

.btn-header {
    text-shadow: 0 4px 4px black;
    margin-top: 3%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.navitem {
    color: white;
    font-size: 1.65vw;

}

input[type=text], select, textarea {
    width: 100%;
    border-radius: 10px;
    font-size: 1.65vw;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: white;
    display: block;
    margin: 2% auto;
    font-size: 1.65vw;
    font-family: Jura, serif;
    height: 70px;
    border-radius: 12px;
    width: 15%;
    color: black;
    border: none;
    cursor: pointer;
}

.container {
    color: white;
    font-family: Jura, serif;
    font-size: 1.65vw;
    border-radius: 10px;
    margin-right: 16%;
    margin-left: 16%;
}

.footer {
    width: 100%;
    display: flex;
}

.reseaux {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.reseaux img {
    width: 3vw;
    height: auto;
}


#copyright {
    margin-left: 84%;
    color: white;
    margin-top: 2%;
    font-size: 1vw;
}