body {
    background: linear-gradient(90deg, #F00 -17.44%, #2707A9 71.81%);
}

.navbar {
    justify-content: center;
    text-align: center;
    display: flex;
    width: 100%;
    z-index: 1;


}

.btn-header {
    text-shadow: 0 4px 4px black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
    font-size: 35px;
    margin-left: 4%;
    margin-right: 4%;

}

.navitem {
    color: white;
    font-family: Jura, serif;
}


h1  {
    margin-top: 2.5%;
    font-family: Jura, serif;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    color: white;
}
