@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

body {
    background: linear-gradient(90deg, #F00 -17.44%, #2707A9 71.81%);
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    animation: slideDown 1.6s;
}

#accueil {
    margin-right: 7%;
    margin-left: 1%;
}


.navitem:hover {
    opacity: .5;
    transition: .5s;
}

@keyframes slideDown {
    from {
        transform: translateY(0px);
        opacity: 0;
    }



    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.btn-header {
    text-shadow: 0 4px 4px black;
    margin-top: 3%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.navitem {
    flex: 0 0 calc(11.3% - 1px);   /* flex-basis adjustment for margin */
    color: white;
    font-size: 2rem;
    margin-right: 4%;
    margin-left: 4%;

}


h1  {
    font-family: Jura, serif;
    font-size: 70px;
    text-align: center;
    color: white;
}

.container {
    color: white;
    font-family: Jura, serif;
    margin-top: 2.5%;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 4%;
}

.all {
    display: flex;
    justify-content: space-evenly;
}


.design {
    margin-top: 7%;
    margin-left: 4%;
}

input {
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    font-size: 25px;
    box-sizing: border-box;
    margin-top: 2%;
}

#conditions {
    font-size: 20px;
}

input[type=submit] {
    background-color: blue;
    display: block;
    margin: 5% auto;
    font-size: 25px;
    font-family: Jura, serif;
    padding: 2%;
    border-radius: 10px;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
}

.ou {
    text-align: center;
}

.gafa {
    display: flex;
    justify-content: space-between;
}

.gafa img {
    width: 125px;
}

.footer {
    margin-right: 4%;
    margin-top: 6%;
    display: flex;
}

.reseaux {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
}


#copyright {
    margin-top: 2%;
    margin-left: 79.6%;
    color: white;
    font-size: 20px;
}