@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

body {
    background: linear-gradient(268deg, #F00 -29.51%, #2500BB 79.62%);
    font-family: 'Jura', sans-serif;
    margin-left: 4%;
    margin-right: 4%;
    padding: 0;
    animation: slideDown 1.3s;
}

.navitem:hover {
    opacity: .5;
    transition: .5s;
}

#accueil {
    margin-right: 5%;
}

@keyframes slideDown {
    from {
        transform: translateY(0px);
        opacity: 0;
    }



    to {
        transform: translateY(0);
        opacity: 1;
    }
}


h1  {
    margin-top: 2.5%;
    font-family: Jura, serif;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    color: white;
}



.btn-header {
    text-shadow: 0 4px 4px black;
    margin-top: 3%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.navitem {
    color: white;
    font-size: 1.65vw;

}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
    .btn-header {
        margin-top: 3%;
        flex-direction: column;
    }
    .navitem {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .body {
        margin-top: 2%;
    }
    .navitem {
        font-size: 1.5vw;
    }
}

.container {
    width: 100%;
    font-family: Jura, sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.item {
    flex: 0 0 calc(13.43% - 1px);   /* flex-basis adjustment for margin */
    margin: 7vw;
}

img {
    width: 100%;
    max-height: 15vw;

}


img:hover {
    opacity: .5;
    transition: .9s;
}

.produits {
    color: white;
    font-family: Jura, serif;
    font-size: 1.65vw;
}


.footer {
    width: 100%;
    margin-top: 3%;
    display: flex;
}

.reseaux {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.reseaux img {
    width: 3vw;
    height: auto;
}


#copyright {
    margin-left: 84%;
    color: white;
    margin-top: 2%;
    font-size: 1vw;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column; /* Pour afficher les éléments en colonne au lieu de ligne */
    }
}

/* Media query pour les écrans étroits (par exemple, smartphones) */
@media screen and (max-width: 480px) {
    .footer {
        font-size: 14px; /* Réduire la taille de la police pour les écrans plus petits */
        margin-top: 2%; /* Réduire la marge supérieure pour les écrans plus petits */
    }
}
