@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

body {
    background: linear-gradient(268deg, #F00 -29.51%, #2500BB 79.62%);
    font-family: 'Jura', sans-serif;
    margin-left: 4%;
    margin-right: 4%;
    padding: 0;
    animation: slideDown 1.3s;
}

.navitem:hover {
    opacity: .5;
    transition: .5s;
}

.btn-header {
    text-shadow: 0 4px 4px black;
    margin-top: 3%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navitem {
    color: white;
    font-size: 1.65vw;

}

@keyframes slideDown {
    from {
        transform: translateY(0px);
        opacity: 0;
    }



    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1  {
    margin-top: 2.5%;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    color: white;
}

#description {
    color: white;
    margin-top: 6%;
    font-size: 1.65vw;
    width: 30%;

}


#titre_qualités {
    color: white;
    margin-top: 10%;
    text-align: center;
    font-size: 1.65vw;
}

.icone img {
    width: 15vw;
}

.icone {
    font-size: 1vw;
    margin-top: 4%;
    width: 100%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.item {
    flex: 0 0 calc(0% - 1px);   /* flex-basis adjustment for margin */
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
    .btn-header {
        margin-top: 3%;
        flex-direction: column;
    }
    .navitem {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }
    .body {
        margin-top: 2%;
    }
    .navitem {
        font-size: 1.5vw;
    }
}

.texte {
    color: white;
    font-size: 1.8vw;

}

#presentation {
    color: white;
    margin-top: 6%;
    text-align: center;
    font-size: 1.8vw;

}

#youtube {
    margin-top: 4%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#retrouvez-nous {
    color: white;
    margin-top: 6%;
    text-align: center;
    font-size: 1.8vw;

}

#google {
    width: 100%;
    height: 600px;
    justify-content: center;
    margin-bottom: 2%;
}

.footer {
    width: 100%;
    margin-top: 3%;
    display: flex;
}

.reseaux {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.reseaux img {
    width: 3vw;
    height: auto;
}


#copyright {
    margin-left: 84%;
    color: white;
    margin-top: 2%;
    font-size: 1vw;
}