@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

body {
    background: linear-gradient(268deg, #F00 -29.51%, #2500BB 79.62%);
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
    width: 99.81%;
    animation: slideDown 1.6s;
}

.navitem:hover {
    opacity: .5;
    transition: .5s;
}

.btn-header {
    text-shadow: 0 4px 4px black;
    margin-top: 3%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.navitem {
    width: 100%;
    flex: 0 0 calc(11.3% - 1px);   /* flex-basis adjustment for margin */
    color: white;
    font-size: 2rem;
    margin-right: 4%;
    margin-left: 4%;

}

@keyframes slideDown {
    from {
        transform: translateY(0px);
        opacity: 0;
    }



    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1  {
    margin-top: 2.5%;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    color: white;
}

#description {
    color: white;
    margin-top: 6%;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 35px;
    width: 30%;

}


#titre_qualités {
    color: white;
    margin-top: 10%;
    text-align: center;
    font-size: 35px;

}

.icone {
    margin-top: 4%;
    width: 100%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.item {
    flex: 0 0 calc(0% - 1px);   /* flex-basis adjustment for margin */
    margin-left: 4%;
    margin-right: 4%;
}

@media screen and (max-width: 768px) {
    .icone {
        flex-direction: column; /* Pour afficher les éléments en colonne au lieu de ligne */
    }
}

/* Media query pour les écrans étroits (par exemple, smartphones) */
@media screen and (max-width: 480px) {
    .icone {
        font-size: 14px; /* Réduire la taille de la police pour les écrans plus petits */
        margin-top: 2%; /* Réduire la marge supérieure pour les écrans plus petits */
    }
}


.texte {
    color: white;
    font-size: 2rem;

}

#presentation {
    color: white;
    margin-top: 6%;
    text-align: center;
    font-size: 35px;

}

#youtube {
    margin-top: 4%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#retrouvez-nous {
    color: white;
    margin-top: 6%;
    text-align: center;
    font-size: 35px;

}

#google {
    margin-left: 4%;
    margin-right: 4%;
    width: 91.9%;
    height: 600px;
    justify-content: center;
    margin-bottom: 2%;
}

.footer {
    margin-right: 4%;
    display: flex;
}

.reseaux {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
}


#copyright {
    margin-top: 2%;
    margin-left: 79.5%;
    color: white;
    font-size: 20px;
}

