@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');


body {
    background: linear-gradient(268deg, #F00 -29.51%, #2500BB 79.62%);
    font-family: 'Jura', sans-serif;
    margin: 4%;
    padding: 0;
    animation: slideDown 1.3s;

}

.navitem:hover {
    opacity: .5;
    transition: .5s;
}

.btn-header {
    text-shadow: 0 4px 4px black;
    margin-top: 3%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navitem {
    color: white;
    font-size: 1.65vw;

}

@keyframes slideDown {
    from {
        transform: translateY(0px);
        opacity: 0;
    }



    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1  {
    margin-top: 2.5%;
    font-family: 'Jura', sans-serif;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    color: white;
}

.description {
    color: white;
    margin-top: 6%;
    font-size: 1.65vw;
    width: 30%;

}


.titre_qualités {
    color: white;
    margin-top: 10%;
    text-align: center;
    font-size: 1.65vw;
}

.icone img {
    width: 15vw;
}

.icone {
    font-size: 1vw;
    margin-top: 4%;
    width: 100%;
    font-family: Jura, serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.item {
    flex: 0 0 calc(0% - 1px);   /* flex-basis adjustment for margin */
}



.texte {
    color: white;
    font-size: 1.8vw;

}

.presentation {
    color: white;
    margin-top: 6%;
    text-align: center;
    font-size: 1.8vw;

}

.youtube {
    margin-top: 4%;
    height: 60vw;
    width: 100%;
    margin-bottom: 2%;
}


.retrouvez-nous {
    color: white;
    margin-top: 6%;
    text-align: center;
    font-size: 1.8vw;

}

.google {
    margin-top: 4%;
    width: 100%;
    height: 60vw;
    justify-content: center;
    margin-bottom: 2%;
}

.footer {
    margin-bottom: 0;
    width: 100%;
    display: flex;
}

.reseaux {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.reseaux img {
    width: 3vw;
    height: auto;
}


.copyright {
    margin-left: 84%;
    color: white;
    margin-top: 2%;
    font-size: 1vw;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 3vw; /* Adjust font size for smaller screens */
    }

    .navitem {
        font-size: 3vw;
    }

    .h1 {
        font-size: 4.5vw;
    }

    .description {
        font-size: 2.5vw;
        width: 50%;
    }

    .titre_qualités {
        font-size: 2.5vw;
    }

    .texte {
        font-size: 2.5vw;
    }

    .presentation {
        font-size: 2.5vw;
    }

    .retrouvez-nous {
        font-size: 2.5vw;
    }

    .copyright {
        margin-top: 4%;
        margin-left: 68.4%;
        font-size: 2vw;
    }

    .reseaux img{
        width: 5.5vw;
    }
}

@media screen and (max-width: 480px) {
    .body {
        font-size: 3vw;
        margin-top: 2%;
    }

    .navitem {
        font-size: 3.5vw;
    }

    .h1 {
        font-size: 5vw;
    }

    .description {
        font-size: 3vw;
        width: 50%;
    }

    .titre_qualités {
        font-size: 3vw;
    }

    .texte {
        font-size: 3vw;
    }

    .presentation {
        font-size: 3vw;
    }

    .retrouvez-nous {
        font-size: 3vw;
    }

    .copyright {
        margin-top: 4%;
        margin-left: 68.4%;
        font-size: 2vw;
    }

    .reseaux img{
        width: 6vw;
    }
}

@media screen and (max-height: 1000px) {
    .youtube {
        height: 32vh;
    }

    .google {
        height: 32vh;
    }
}